body {
  color: black;
  width: 50%;
  margin: 5% auto;
  font-family: serif;
  line-height: 1.3rem;
}

img {
  border: 1px solid black;
  display: block;
  width: 40%;
  margin: 10px auto;
}

a, a:visited {
  color: blue;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
}

blockquote {
  font-size: 12px;
  padding: 0 5px;
}

ol, ul {
  font-size: 14px;
}

ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

h1, h2 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 3px;
}

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
  }
  blockquote {
    font-size: 14px;
  }
}
